<section class="contact-block">
  <h2>Let's work together...</h2>
  <p>How do you take your coffee?</p>
  <ul class="list contact-block__list">
    <a href="mailto:yasirkhan6499@gmail.com" class="link">
      <li>
        <i class="fab fa-facebook-square"></i>
        Facebook
      </li>
    </a>
    <a href="https://github.com/Yasirkhan6499" target="__blank" class="link">
      <li><i class="fab fa-brands fa-github-square"></i> GitHub</li>
    </a>
    <a href="mailto:yasirkhan6499@gmail.com" class="link">
      <li><i class="fab fa-brands fa-twitter"></i>Twitter</li>
    </a>
    <a href="mailto:yasirkhan6499@gmail.com" class="link">
      <li><i class="fas fa-solid fa-at"></i>Send a mail</li>
    </a>
    <a href="mailto:yasirkhan6499@gmail.com" class="link">
      <li><i class="fas fa-mobile-alt"></i>Call me</li>
    </a>
  </ul>

  <section class="footer">
    <p>© Created By Yasir Khan</p>
  </section>
</section>
